
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Quotation Lines - Add new line </h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
      </li>
      <li>
        <a>Operations</a>
      </li>
      <li class="active">
        <strong>Adding New Liine to a quotation</strong>
      </li>
    </ol>
  </div>
</div>
<%= render "form", {quotation_detail: @quotation_detail, quotation: @quotation} %>